<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add new Student</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="wrapper">
    <header th:insert="layout/layouts.html :: 'navs' "></header>
    <div class="content">
        <h3 th:text="${student.id == null ? 'Add student' : 'Edit student'}"></h3>
        <form th:action="@{/students-templates/students/editForm}"
              th:object="${student}" method="post" class="form-horizontal">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{id}" placeholder="Id (*)" class="form-control" hidden/>
            </div>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{name}" placeholder="Name (*)" class="form-control"/>
            </div>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{lastname}" placeholder="Lastname (*)" class="form-control"/>
            </div>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>Group</span>
                <select th:field="*{group}">
                    <option th:value="${null}">NONE</option>
                    <th:block th:each="group : ${groupsList}">
                        <option th:value="${group.id}">[[${group.groupName}]]</option>
                    </th:block>
                </select>
            </div>

            <div>
                <button type="submit" class="btn btn-success">Save</button>
                <!-- кнопка отмены -->
                <a th:href="@{/students-templates/students}" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
    <footer th:insert="layout/layouts :: 'footer'"></footer>

</div>

</body>
</html>