<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="container-fluid text-center content">
        <header th:insert="layout/layouts.html :: 'navs' "></header>
        <h3>Student Details</h3>
        <ul class="list-group">
            <li th:text="${'ID: ' + student}"></li>
            <li th:text="${'Name: ' + student.name}"></li>
            <li th:text="${'Lastname: ' + student.lastname}"></li>
            <li th:text="${'Group: ' + student.group.groupName}"></li>
        </ul>
        <a th:href="@{/students}" class="btn btn-secondary">Back</a>
    </div>

    <h3>Assessments Details</h3>
    <h5>AVG</h5>
    <ul>
        <li th:text="${'overall GPA: ' + avgValue}"></li>
    </ul>
    <h5>AVG subjects</h5>
    <table>
        <tr th:each="instance : ${allAssessmentsAVG}">
            <td th:text="${instance}"></td>
        </tr>
    </table>

    <h5>Table all assessments</h5>
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Assessment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assessment : ${assessmentList}">
            <td th:text="${assessment.id}"/>
            <td th:text="${assessment.subject}"/>
            <td th:text="${assessment.date}"/>
            <td th:text="${assessment.assessment}"/>
            </td>
        </tr>
        </tbody>

    </table>

    <footer th:insert="layout/layouts :: 'footer'"></footer>
</div>

</body>
</html>