<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Add new Student</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<h3 th:text="${student.id == null ? 'Add student' : 'Edit student'}"></h3>
<form th:action="@{/students/editForm}"
      th:object="${student}" method="post" class="form-horizontal">
  <div style="margin-bottom: 25px" class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input th:field="*{id}" placeholder="Id (*)" class="form-control" hidden/>
  </div>
  <div style="margin-bottom: 25px" class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input th:field="*{name}" placeholder="Name (*)" class="form-control"/>
  </div>
  <div style="margin-bottom: 25px" class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input th:field="*{lastname}" placeholder="Lastname (*)" class="form-control"/>
  </div>

  <div>
    <button type="submit" class="btn btn-success">Save</button>
    <!-- кнопка отмены -->
    <a th:href="@{/students}" class="btn btn-danger">Cancel</a>
  </div>
</form>
<footer th:insert="layout/layouts :: 'footer'"></footer>
</body>
</html>